#left-col {
    border-right-style: solid;
    border-right-color: black;
    border-width: 2px;
    min-height: 200px;
}

#header {
    background-color: rgb(43, 42, 42);
    height: 50px;
}

#my-name {
    color: white;
    font-size: 32pt;
    font-family: sans-serif;
    padding-left: 5px;
}

body {
    background-color: rgb(104, 144, 170);
}

.container-fluid {
    padding: 0px;
}

#profile-pic {
    height: 150px;
    width: 150px;
}