#left-col {
    border-right-style: solid;
    border-right-color: black;
    border-width: 2px;
    min-height: 200px;
}

#header {
    background-color: rgb(43, 42, 42);
    height: 50px;
}

body {
    background-color: rgb(104, 144, 170);
}

h1 {
    color: white;
}

h2 {
    color: white;
}

.container-fluid {
    padding: 0px;
}

h1 {
    font-size: 40pt;
}

#portfolio-link {
    color:  rgb(65, 89, 105);
    border-bottom: 2px solid rgb(65, 89, 105);
}

#blog-link {
    color: rgb(65, 89, 105);
    border-bottom: 2px solid rgb(65, 89, 105);
}

#portfolio-link:hover {
    color:  rgb(131, 182, 216);
    text-decoration: none;
    border-bottom: 2px solid rgb(131, 182, 216);
}

#blog-link:hover {
    color: rgb(131, 182, 216);
    text-decoration: none;
    border-bottom: 2px solid rgb(131, 182, 216);
}

#h2-1 {
    margin-top: 40px;
}

#blog-card {
    margin-top: 20px;
    background-color: rgb(65, 89, 105);
    height: 200px;
}

#github-card {
    margin-top: 20px;
    background-color: rgb(65, 89, 105);
    height: 200px;
}