<div class="blog-post">
    <div class="blog-post--header">
        <h1 class="blog-post--title"><%= post`${n}`Title %> </h1>
    </div>
    <div class="blog-post--info">
        <p>
            posted <%= post1Date %> by William Martin
        </p>
    </div>
    <div>
        <img class="blog-post--image" src="https://via.placeholder.com/700x500" alt="">
    </div>
    <div class="blog-post--body">
        <%- post1Body %>
    </div>
</div>