<%- include _header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-middle">
            <p>
                I am a developer based out of Mission, BC, Canada.
                <br>
                I have about 10 years experience across multiple languages and frameworks. 
                My resume can be downloaded as a PDF <a class="resume-link" href="files/WilliamMartinResume.pdf">at this link.</a>
            </p>
        </div>
    </div>
</div>

<%- include _footer %>