<%- include _header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-middle">
            <p>
                I am developer currently living in Mission, BC, Canada.
                <br>
                I've been messing around with web development for the past decade and a half through various
                technologies, like PHP, Flash, Wordpress, and Nexopia blogs (shudder).
            </p>
        </div>
    </div>
</div>

<%- include _footer %>