<%- include _header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-middle">
            <p>
                Who am I?
                <br>
                I am a guy from Mission, BC, Canada (yes, I feel the need to specify Canada).
                <br>
                I've been messing around with web development for the past decade and a half through various
                technologies, like PHP, Flash, Wordpress, and Nexopia blogs (shudder).
            </p>
        </div>
    </div>
</div>

<%- include _footer %>