<%- include _header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-middle">
            <!-- <% for (n=0; n < postsToShow; n++) { %>
                <% } %> -->
            <%- include _blogPost } %>
        </div>
    </div>
</div>

<%- include _footer %>