<%- include _header %>

<div class="white-bg container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="blog-post">
                <div class="blog-post--header">
                    <h1 class="blog-post--title">Hello World!</h1>
                </div>
                <div class="blog-post--info">
                    <p>
                        posted April 5 by William Martin
                    </p>
                </div>
                <div>
                    <img class="blog-post--image" src="https://via.placeholder.com/700x500" alt="">
                </div>
                <div class="blog-post--body">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget ante a odio suscipit
                        lobortis. Nulla cursus tincidunt accumsan. Morbi maximus dolor ut ex accumsan interdum eu a
                        nisi.
                        Mauris sollicitudin quam sed lobortis pretium. Pellentesque id erat nisi. Proin interdum, dui
                        laoreet mattis tempus, metus nisl porttitor eros, porttitor scelerisque nulla mi vitae leo.
                        Nulla
                        malesuada dui quis ligula congue rutrum. Aenean facilisis nibh quis enim venenatis tempor.
                        Quisque
                        vehicula nunc odio, nec fringilla urna tincidunt eget. Curabitur a pretium quam, in pellentesque
                        ex.
                        Curabitur ac nunc ut neque ullamcorper tincidunt. In hac habitasse platea dictumst. Morbi enim
                        neque, vulputate a facilisis sed, viverra nec eros. Ut quis vestibulum sem. Vivamus sagittis ut
                        arcu
                        quis pretium.
                        <br /><br />
                        Proin enim tellus, sagittis id tortor sed, molestie venenatis nunc. Etiam faucibus orci at
                        ultricies
                        mattis. Fusce ultricies ligula ut ornare viverra. Sed ac tristique metus, pharetra porttitor
                        augue.
                        In lorem turpis, egestas quis malesuada sit amet, fermentum non mauris. Maecenas placerat orci
                        tellus, sed faucibus sem aliquam ac. Fusce ligula diam, gravida et vulputate quis, hendrerit nec
                        magna. Donec pretium erat ut ex tempus accumsan. Sed tristique facilisis metus, id volutpat
                        magna
                        aliquam ut. Nullam malesuada vitae odio quis porta. Etiam vel est sollicitudin, blandit lorem
                        id,
                        fringilla dui. Sed malesuada magna nec mattis pretium. Mauris aliquet ullamcorper nunc, in
                        dictum
                        orci iaculis et. Vivamus at suscipit tellus.
                        <br /><br />
                        Sed sed lorem vehicula, porta quam eget, laoreet tellus. Vestibulum lacinia pulvinar tellus a
                        lobortis. Fusce tempus purus neque, sit amet faucibus ex iaculis sed. Nulla a nisi lectus. Nam
                        non
                        posuere ligula. Nulla facilisis ex sit amet pretium tincidunt. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Cras pulvinar ligula eget condimentum interdum. Nam est est,
                        lobortis
                        ut justo tincidunt, tempus sagittis ex. Cras mattis odio nec quam consectetur, sed efficitur
                        nisi
                        posuere. Nam a sem consectetur, pulvinar eros maximus, tincidunt ipsum. Mauris rutrum vel enim
                        at
                        mollis. Nulla tempor sapien ante, vitae accumsan lacus ultricies eu. In sed sapien libero. Nunc
                        sodales magna tortor, quis pharetra ex efficitur vitae. Maecenas vitae nisi nulla. </p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<%- include _footer %>