<%- include _header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-middle">
            <a class='link-on-white' href="admin/create-post">Create post</a>
        </div>
    </div>    
</div>

<%- include _footer %>