<%- include _header %>

<head>
    <script type="text/javascript" src="/ckeditor.js"></script>
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-8 center-block">
            <h1> Create a new post </h1>
            <form method="POST" class="align-middle">
                <textarea name="editor1" id="editor1" rows="10" cols="160"> blag </textarea>

                <script>
                    CKEDITOR.replace('editor1');
                </script>

                <button type="submit" id="" class="btn btn-primary button--preview-post"> Preview
                    Post </button>
            </form>
        </div>
    </div>
</div>

<%- include _footer %>