<%- include _header %>

<head>
<script src="/ckeditor.js"></script>
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-8 center-block">
            <h1> Create a new post </h1>
            <form class="align-middle">
                <textarea name="editor1" id="editor1" rows="10" cols="160">
                            
                        </textarea>
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace('editor1');
                </script>
                <button type="button" id="" class="btn btn-primary button--preview-post" btn-lg btn-block">Preview Post</button>
            </form>
        </div>
    </div>
</div>

<%- include _footer %>