<%- include _header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-middle blogCards">
            <% for (n=0; n < postsToShow; n++) { %>
                
            <%- include _blogCard-admin } %>
            <% } %>
        </div>
    </div>
</div>

<%- include _footer %>