  <%- include _header %>

  <div class="homepage-body container-fluid">
    <div class="homepage-body--text-container">
      <h1 class="tagline">I'm Will. </h1>
      <h2 class="tagline-sub">A web developer based out of the Lower Mainland, BC. </h2>
    </div>

    <div>
      <h1 class="tagline-sub tagline-sub2">I believe in simple, elegant design, done right.</h1> 
    </div>
    
  </div>


  <%- include _footer %>