  <%- include _header %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>

      <div class=" col-10">
        <p>I'm currently learning to become a web developer.</p>
        <p id='h2-1'>If you'd like to follow my progress, check out my <a href="/portfolio" class='link'>portfolio</a>
          and <a href="/blog" class='link'>blog</a>.</p>
        <p id='h2-1'>Here's the latest post from said blog:</p>
        <div class="card"></div>
        <p id="h2-1"> This is my Github feed. You'll find the source for this site there as well my personal
          projects that I work on for fun.</p>
        <div class="card"></div>
      </div>

      <div class="col-1"></div>
    </div>
  </div>

  <%- include _footer %>