  <%- include _header %>

  <div class="container-fluid">
    <img class="bg-img" src="\img\bg.jpg">
    <div class="row">
      <h1 class="tagline">Find your beautiful dream.</h1>



      <%- include _footer %>