  <%- include _header %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-middle">
        <p>I'm a freelance full stack web developer, keen on improving my skills.
          <br>If you've found your way here somehow, I salute you.
          <br> There's not much here yet, but check back later. </p>

      </div>

      <%- include _footer %>