  <%- include _header %>
  
  <div class="container-fluid" id="body-bg">
    <div class="row">
      <div class="col-sm-3">
        <!-- empty -->
      </div>

      <div class="col-sm-6">
        <h1>I'm Will Martin.</h2>
          <h2>I'm currently learning to become a web developer.</h2>
          <h2 id='h2-1'>If you'd like to follow my progress, check out my <a href="/portfolio" id='portfolio-link'>portfolio</a>
            and <a href="/blog" id='blog-link'>blog</a>.</h2>
          <h2 id='h2-1'>Here's the latest post from said blog:</h2>
          <div id="blog-card"></div>
          <h2 id="h2-1"> This is my Github feed. You'll find the source for this site there as well my personal
            projects that I work on for fun.</h2>
          <div id="github-card"></div>
      </div>

      <div class="col-sm-3">
        <!-- empty -->
      </div>
    </div>
  </div>

<%- include _footer %>