<%- include _header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-middle">
            <h1 class="portfolio--card-title">willmartin.ca</h1>
            <p class="portfolio--card-body">This site is hand coded using express and MongoDB. Eventually it will also integrate React.
                This site is completely open-source. It started as a way to learn express but then I wanted my own blog. <br> <a class="body--link"
                    href="https://github.com/wjkmartin/personal-website">view on Github.</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-middle">
            <h1 class="portfolio--card-title">A vanilla JS RPG</h1>
            <img style="width: 100%; height: 600px;" src="/files/gameScreenshot.png">
            <p class="portfolio--card-body">I made this shortly after working through the wonderful online textbook, "Eloquent JavaScript". A little passion project of mine that I may or may not continue working on. I mostly made it to see what
                I could accomplish with only JS. 
                Well, and FontAwesome... and a few Bootstrap elements... and a few lines of JQuery... but 95% vanilla
                JS! <br>
                Making this (unfinished) game taught me such an incredible amount of things that I doubt I could even write them here. The details of event listeners and why we should all dream of something better. Forced scrolling. FLEX. So much CSS Flex. 
                <br>
                The game is built out of many modules, making it very extensible. It is, however, like many projects worked on by a single developer, very poorly commented. 

                <br> <a class="body--link" href="https://github.com/wjkmartin/webRPG">view on Github.</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-middle">

        </div>
    </div>
</div>

<%- include _footer %>