@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

ul {
    color: white;
}

h1 {
    font-size: 30px;
    margin: 0;
    border: none;
}

body {
    background-color: #6890aa;
    font-family: Montserrat, helvetica neue, Helvetica, Arial, sans-serif;
    font-feature-settings: 'kern'1;
    -webkit-font-feature-settings: 'kern'1;
    -moz-font-feature-settings: 'kern'1;
    -o-font-feature-settings: 'kern'1;
    color: #2e2e2e;
    letter-spacing: .01rem;
    line-height: 1.75rem;
    width: 100%;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

#editor {
    height: 500px;
}

.link-on-white {
    color: black;
}

.inline-block {
    display: inline-block !important;
}

.row {
    height: 100%;
}

.caps {
    text-transform: uppercase;
    letter-spacing: .2em;
}

.col-middle {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 8em;
    max-width: 1080px;
}

.main-header--nav {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    margin: auto 0;
    height: 100%;

    @include for-phone-only {
        visibility: hidden;
    }

    @include for-desktop-up {

        visibility: visible;
    }

    @include for-tablet-landscape-up {
        visibility: visible;
    }
}

.small-nav {
    visibility: hidden;

    @include for-phone-only {
        visibility: visible;
    }
}

.main-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header--nav-item {
    display: inline-block;
    letter-spacing: .1em;
    padding: 1rem 1rem;
    height: 100%;
}

.main-header--nav-item:hover {
    border: none;
    background: #505050;
}

.header-main {
    width: 100%;
    background-color: #2b2a2a;
    display: flex;
    justify-content: space-around;
}

.header-main--name {
    line-height: 60px;
    color: white !important;

    font-family: 'Fjalla One', sans-serif;

    @include for-phone-only {
        font-size: 15px;
    }

    @include for-desktop-up {

        font-size: 25px;
    }

    @include for-tablet-landscape-up {
        font-size: 38px;
    }

}

.small-nav {
    background: #2b2a2a !important;
    border: none !important;
    box-shadow: none !important;
}

.small-nav:hover {
    background: #505050;
}

.dropdown-menu {
    background: #3a3939 !important;
    border: none !important;
    left: -10px !important;
    min-width: 8rem !important;
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background: #2b2a2a !important;

}

.active {
    border: none;
    background: #505050;
}

.link {
    color: rgb(65, 89, 105);
    border-bottom: 2px solid rgb(65, 89, 105);
}

.link:hover {
    color: rgb(131, 182, 216);
    text-decoration: none;
    border-bottom: 2px solid rgb(131, 182, 216);
}

#login-col {
    margin-top: 200px;
    background-color: #ececec;
    padding: 25px 20px 10px 20px;
    max-width: 500px;
}

.button--submit {
    width: 100%;
    background: #007bff linear-gradient(#70b3da, #334566) repeat-x;
}

#username-input {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#password-input {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#password-input-container {
    position: relative;
}

#username-input-label {
    position: relative;
    top: 7px;
}

#password-input-label {
    position: relative;
    top: 7px;
}

#login-form-label {
    position: relative;
    text-align: center;
    top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21pt;
    font-weight: 600;
}

#remember-me-group {
    position: relative;
    top: 6px;
    right: 2px;
}

.checkbox {
    position: relative;
    top: 3px;
    left: 3px;
    padding: 6px;
    margin-right: 6px;
    height: 16px;
    width: 16px;
}

.center-block {
    margin: 0 auto;
    float: none;
}

#editor1 {
    margin: auto auto;
    float: none;
    position: relative;
    top: 200px;
}

.blog-post {
    background: #fff;
}

.blog-post--title {
    color: #333;
}

.blog-post--info {
    position: relative;
    left: 15px;
    top: -10px;
    font-size: 10pt;
}

.blog-post--image {
    max-width: 80%;
    display: flex;
    margin: auto
}

.blog-post--body {
    margin-top: 50px;
}

.create-post--button-stage-post {
    background: #6890AA;
}

.create-post--container {}

.create-post--page-title {
    color: #333;
}

.create-post--form-container {
    height: 50rem;
}

.body--link {
    color: black;
}

.body--link:hover {
    color: #6890AA;
}

.blogCards {
    display: flex;
    justify-content: space-around;
    direction: row;
    flex-wrap: wrap;
}

.card {
    margin-top: 1em
}

.btn--blog-detail {
    background-color: #2994db;
    width: 7rem;
    height: 2rem;
    padding: 0;
    margin-top: .5rem;
}

.btn--blog-detail-text {
    color: white;
    font-size: 11pt;
}

.bg-img {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}

.tagline {
    color: white;
    font-family: 'neuzeitgroteskcondw01-blackRg', sans-serif;
    font-style: normal;
    position: relative;
    text-shadow:
        1px 1px #000000;

    font-size: 50px;
    margin: 40px 0;
    
}

.tagline-sub {
    color: white;
    font-family: 'neuzeitgroteskcondw01-blackRg', sans-serif;
    font-style: normal;
    position: relative;
    text-shadow:
        1px 1px #000000;
    text-align: center;

    @include for-phone-only {
        font-size: 20px;
    }

    @include for-desktop-up {
        font-size: 40px;
    }

    @include for-tablet-landscape-up {
        font-size: 40px;
    }
}


.homepage-body {
    min-height: 600px;
    min-width: 800px;
    max-width: 1920px;
    max-height: 892px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.homepage-body--text-container {
    max-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;

    min-height: 600px;
    min-width: 800px;
    max-width: 1920px;
    max-height: 892px;
}

