ul {
    color: white;
}

h1 {
    font-size: 30px;
    margin: 0;
    border: none;
}

body {
    background-color: #6890aa;
    font-family: Montserrat,helvetica neue,Helvetica,Arial,sans-serif;
    font-feature-settings: 'kern' 1;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    color: #2e2e2e;
    letter-spacing: .01rem;
    line-height: 1.75rem;
}

p {
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

#editor {
    height: 500px;
}

.link-on-white {
    color: black;
}

.inline-block {
    display: inline-block !important;
}

.row {
    height: 100%;
}

.main-header {
    background-color: rgb(43, 42, 42);
    height: 4rem;
    border: none !important;
}

.main-header--col {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
}

.main-header--me {
    font-size: 30px;
    padding: .5rem 1rem;
}

.main-header--me:hover {
    border: none;
    background: #505050;
}

.main-header--title {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: Montserrat,helvetica neue,Helvetica,Arial,sans-serif;
    position: relative;
    padding: 0 1rem;
    bottom: 1.4rem;
}

.caps {
    text-transform: uppercase;
    letter-spacing: .2em;
}

.col-middle {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 8em;
    max-width: 1080px;
}

.main-header--nav {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0;
    margin: auto 0;
    height: 100%;
}

.main-header--nav-item {
    display: inline-block;
    letter-spacing: .1em;
    padding: 1rem 1rem;
    height: 100%;
}

.main-header--nav-item:hover {
    border: none;
    background: #505050;
}

.active {
    border: none;
    background: #505050;
}

.link {
    color: rgb(65, 89, 105);
    border-bottom: 2px solid rgb(65, 89, 105);
}

.link:hover {
    color: rgb(131, 182, 216);
    text-decoration: none;
    border-bottom: 2px solid rgb(131, 182, 216);
}

#login-col {
    margin-top: 200px;
    background-color: #ececec;
    padding: 25px 20px 10px 20px;
    max-width: 500px;
}

.button--submit {
    width: 100%;
    background: #007bff linear-gradient(#70b3da, #334566) repeat-x;
}

#username-input {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#password-input {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#password-input-container {
    position: relative;
}

#username-input-label {
    position: relative;
    top: 7px;
}

#password-input-label {
    position: relative;
    top: 7px;
}

#login-form-label {
    position: relative;
    text-align: center; 
    top: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21pt;
    font-weight: 600;
}

#remember-me-group {
    position: relative;
    top: 6px;
    right: 2px;
}

.checkbox {
    position: relative;
    top: 3px;
    left: 3px;
    padding: 6px;
    margin-right: 6px;
    height: 16px;
    width: 16px;
}

.center-block {
    margin: 0 auto;
    float: none;
}

#editor1 {
    margin: auto auto;
    float: none;
    position: relative;
    top: 200px;
}

.blog-post {
    background: #fff;
}

.blog-post--title {
    color: #333;
}

.blog-post--info {
    position: relative;
    left: 15px;
    top: -10px;
    font-size: 10pt;
}

.blog-post--image {
    max-width: 80%;
    display: flex;
    margin: auto
}

.blog-post--body {
    margin-top: 50px;
}

.create-post--button-stage-post {
    background: #6890AA;
}

.create-post--container {
}

.create-post--page-title {
    color: #333;
}

.create-post--title-input {

}   



.create-post--form-container {
    height: 50rem;
}

.body--link {
    color: black;
}

.body--link:hover {
    color: #6890AA;
}

.blogCards {
    display: flex;
    justify-content: space-around;
    direction: row;
    flex-wrap: wrap;
}

.card {
    margin-top: 1em
}




